---
Checks: '
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-type-union-access,
  google-*,
  -google-readability-namespace-comments,
  -google-readability-todo,
  llvm-*,
  -llvm-header-guard,
  -llvm-namespace-comment,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*'
FormatStyle: 'file'
